@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

/* VARIABLER  */

:root {
  /* COLORS */
  --dark: #000000;
  --txt-dark: #000000;
  --light: #fff;
  --txt-light: #fff;
  --midtone: #313132;
  --darktone: #222;
  --primary: #ecc511;
  --secondary: #7a0202;

  /* FONT SIZE */
  --txt-large: 62px;
  --txt-medium: 35px;
  --txt-regular: 25px;
  --txt-small: 18px;
  --txt-tiny: 13px;
}

/* ---------------------------------------------------------------------------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--light);
  color: var(--txt-dark);
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 22px;
  color: var(--txt-dark);
}

h1 {
  text-align: left;
  font-size: var(--txt-large);
  font-family: "Bevan", cursive;
  line-height: 45px;
  text-shadow: 2px 2px var(--darktone);
}

h2 {
  text-align: left;
  font-size: var(--txt-medium);
}

h3 {
  margin-bottom: 10px;
  font-size: var(--txt-regular);
  color: var(--txt-dark);
}

h4 {
  margin: 20px 0;
  font-size: var(--txt-small);
}

/* ---------------------------------------------------------------------------- */

header {
  margin: 25px auto;
}

nav {
  max-width: 1020px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.nav__logo {
  max-width: 200px;
}

.nav__contact {
  min-width: 400px;
  font-size: var(--txt-tiny);
}

.nav__burger {
  display: none;
}

.nav__links {
  display: flex;
}

.nav__links a {
  margin-top: 10px;
  padding: 15px 10px;
  font-size: var(--txt-tiny);
}

.FA {
  color: var(--secondary);
  font-size: var(--txt-regular);
  margin: 0 10px;
}

main {
  margin: 25px auto;
}

.main__cards {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.main__card {
  padding-right: 10px;
  text-align: center;
}

.main__contact {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.main__form {
  width: 100%;
  margin-right: 20px;
}

.main__map {
  padding-top: 10px;
}

.main__map_small {
  display: none;
}

a {
  text-decoration: none;
  padding: 5px 0;
  color: var(--txt-dark);
}

a:hover {
  border-bottom: 2px solid var(--primary);
}

.txt__area {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin: 20px auto;
  text-align: center;
}

footer {
  background-color: var(--midtone);
}

.footer__logo {
  width: 250px;
}

.footer__logo_img {
  width: 100%;
  height: auto;
}

.footer__info_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  color: var(--txt-light);
}

.footer__credits {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  color: var(--txt-light);
  font-size: var(--txt-tiny);
}

/* SLIDER */

.slider {
  position: relative;
}

.slider__txt {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
  margin: 50px 20%;
  color: var(--txt-light);
}

.slider__banner_txt {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
  margin: 50px 20%;
  color: var(--txt-light);
}

.slider__txt_small{
  display: none;
}

.slider__txt_container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__txt_box {
  padding-right: 50px;
}

.slider__txt_credentials {
  width: 250px;
  padding-bottom: 30px;
}

.credentials__img {
  width: 90%;
  height: auto;
}

.slider__banner_btn {
  background-color: #7a0202a4;
  color: var(--txt-light);
  padding: 10px 25px;
  margin: 30px 0;
  width: 150px;
  cursor: pointer;
}

/* FORM */

#minForm {
  display: flex;
  flex-direction: column;
}

#minForm > input {
  height: 35px;
  padding: 5px;
  margin: 10px 0;
}

#sendKnap {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  background-color: var(--secondary);
  color: var(--txt-light);
  cursor: pointer;
  border: none;
}

.form__besked {
  height: 240px;
  margin-top: 10px;
  padding: 7px;
}

/* BURGER */

#dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dropdownMenu a {
  padding: 25px 10px;
  font-size: var(--txt-tiny);
  border-bottom: 2px solid var(--primary);
  background-color: var(--light);
  width: 100%;
}

.drop-down-windows {
  display: flex;
  justify-content: flex-end;
  height: 0px;
}

.drop-down-visible {
  min-width: 220px;
  width: 80vw;
  height: 500px;
  padding: 8px;
  display: block;
  transform: scale(1, 1);
  transition: all 0.4s;
  transform-origin: left;
}

.drop-down-hidden {
  min-width: 220px;
  max-width: 25%;
  height: 500px;
  padding: 8px;
  transform: scale(0, 1);
  transition: all 0.4s;
  transform-origin: left;
}

.fa-size {
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px 0 40px;
  color: var(--secondary);
}

/* BREAKPOINTS */

@media (max-width: 450px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 400px;
    line-height: 55px;
  }

  nav {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  .nav__logo_container {
    padding-bottom: 30px;
  }

  .nav__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 40px 10px;
    min-width: 100vw;
    min-height: 200px;
  }

  .nav__links {
    margin: 0;
    display: none;
    flex-direction: column;
  }

  .nav__burger {
    display: flex;
  }

  .drop-down-windows {
    z-index: 20;
  }

  .slider {
    width: 100vw;
  }

  .slider__txt {
    display: none;

  }

  .slider__txt_small{
  display: block;
  text-align: center;
  top: 0;
  z-index: 10;
  color: var(--txt-light);
  padding: 30px;
  width: 100vw;  }

  .slider__txt_box {
    margin: 20px 0;
    padding: 0;
  }

  .slider__txt_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;;
  }

  .main__cards {
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .txt__area {
    margin: 0;
    padding: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .main__contact {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 20px auto;
  }

  .main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__map {
    display: none;
  }

  .main__map_small {
    display: flex;
    padding-top: 10px;
  }

  #map {
    width: 100%;
  }

  #minForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
  }

  .footer__info_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 400px;
  }

  .footer__credits {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    text-align: center;
  }
}
